@import './variables';
@import './mixins';

.__event-title {
    input {
        width : 100%;
        border: 1px solid black;
    }
}

div.card {
    width: 100%;
    margin : auto 30px;
    height: 720px;
    background-color: white;
    border-radius: 10px;
    box-shadow: map-get(
        $box-shadow,
        "light"
    );

    .__header {
        background-color : map-get(
            $main-color,
            "gold"
        );
        height : 40px;
        padding-left : 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        @include FlexBox(
            $alignItems : center
        );

        button {
            img {
                @include AlignCenter;
            }
        }
    }

    .__content {
        @include FlexBox(
            $height : calc(100% - 40px),
            $width : 100%,
            $justifyContent : center,
            $alignItems : center
        );

        .__left-event , .__right-event {
            padding : 10px 30px;
            width : 50%;    
        }

        .__left-event {
            .__heading {
                padding: 15px 0;
                line-height : 1;
                h1 {
                    text-transform: uppercase;
                    font-weight : bold; 
                    font-size: 56px;
                    color: map-get(
                        $main-color,
                        "gold"
                    );
                }
    
                p {
                    font-size: 14px;
                    font-style: italic;
                }
            }

            .__leftside{

                .__event-title{ 
                    input {
                        width : 100%;
                        border: 0.5px solid #858585;
                    }
                }

                .__event-link {
                    margin : 10px 0;
                    label, input {
                        display: inline;
                    }
                    input {
                        width : 100%;
                        border: 0.5px solid #858585;
                    }
                }
            }

            .__card-container {
                height: 340px;
                margin : 20px 0;
                background-color: white;
                border-radius: 10px;
                box-shadow: map-get(
                    $box-shadow,
                    "light"
                );

                p {
                    font-size: 14px;
                    padding : 10px 14px;
                }

                img {
                    width : 100%;
                    height : 260px;
                    @include Image;
                }
            }

            .__choices {
                text-align: right;
                margin: 0 10px;
                
                button {
                    margin: 0 3px;
                    padding: 0;
                    border: none;
                    background-color: #FBF7F7;
                    background-color : transparent;

                    img {
                        width : 20px;
                        height : 20px;
                        border-radius : 5px;
                    }
                }
            }
        }

        .__right-event {
            .__rightside {
                margin-top: 20px;
                .__event-dropdown{
                    select {
                        border: 0.5px solid #858585;
                        width : 100%;
                    }
                }
                .label-event {
                    display: block;
                    font-size: 10px;
                    letter-spacing: 0.01em;
                    margin-bottom: 1px;
                }

                .__event-description {
                    margin: 10px 0;

                    textarea {
                        min-height : 200px ;
                        padding : 5px ;
                        resize: none;
                        width : 100%;
                        border: 0.5px solid #858585;
                    }
                }
// ==============================================
                .__price-date {
                    // @include FlexBox(
                    // $alignItems : center
                    // );
                    display: flex;

                    // > div {
                    //     width : 50%;
                    // }

                    .event-price, .event-date{
                         input{
                        display : inline-block;
                       }
                     }

                     label{
                        display: inline-block;
                        margin-right: 10px;
                     }
                    .event-price{
                        position: relative;
                        display: inline;
                        margin-left: 72px;

                        
                    }
                    .event-price span {
                        position: absolute;
                        left: 65px;
                        top: 12px;
                     }
                    input.price{
                        width: 100px;
                            height: 25px;
                            padding-left: 40px;
                            font-size: 13px;
                            border: 0.5px solid #858585;
                            border-radius: 5px;
                    }
                                        span {
                                            font-size: 13px;
                                            font-weight: bold;
                                            color: #600C0F;
                                            line-height: 23px;
                                        }

                  
                .event-date {
                    display: inline;
                    margin-left: 87px;
                    
                    input.date {
                         width: 120px;
                         height: 25px;
                        border: 0.5px solid #858585;
                          border-radius: 5px;
                          font-size: 12px;
                          text-align: center;
                                            }
                                        }

                   
                }

                .__participants-time {
                    display: flex;

                    > div {
                        width : 50%;
                    }

                    .num-participants {

                        label {
                            font-size: 12px;
                            line-height: 12px;
                            letter-spacing: 0.01em;
                            margin-right: 10px;
                            inline-size: 110px;
                            overflow-wrap: break-word;
                            display: inline-block;
                            text-align: right;
                        }

                        input {
                            height: 30px;
                            width: 50%;
                            font-size: 12px;
                            border: 0.5px solid #858585;
                            border-radius: 5px;
                            padding: 0;
                            text-align: center;

                        }

                    }

                    div.time {
                        margin-left: 15px;
                        
                        label{
                            display: inline-block;
                            margin-right: 10px;
                        }

                       input.time {
                            box-sizing: border-box;
                            height: 23px;
                            width: 90px;
                            font-size: 12px;
                            border: 0.5px solid #858585;
                            border-radius: 5px;
                            text-align: center;
                        }
                    }
                }
// ==============================================
                .__event-payment {
                    margin-top: 20px;
                    @include FlexBox(
                        $justifyContent : flex-start,
                        $alignItems : center,
                        $flexDirection : row
                    );
                    border: 0.5px solid #858585;
                    border-radius : 10px;   
                    padding : 5px 20px;

                    p {
                        margin-right : 15px;
                    }

                    .__checkbox {
                        flex: 1 0 auto;
                        display : grid;
                        grid-template-columns: 1fr 1fr;

                        span {
                            background-color : rgb(240, 240, 240);
                            padding : 2px 10px;
                            margin : 5px;
                            input, label {
                                display : inline;
                            }
                            label {
                                margin-left : 15px;
                            }
                        }
                    }

                }
                
                .__event-button {
                    float : right;
                    margin : 20px 0;
                    font-size : 16px;
                    font-weight : bold;
                    border-radius : 10px;
                    padding : 8px 50px;
                    transition : map-get(
                        $transition,
                        ".2s"  
                    );
                    background-color : map-get(
                        $main-color,
                        "gold"
                    );

                    &:hover {
                        background-color: map-get(
                            $darken-color, 
                            "gold"
                        );
                    }
                }
            }
        }
    }
}